
body{
	background-color: #fff;
}

#header-nav{
	background-color: #808080;
	border: 0px solid black;
	border-radius: 0;

	
}
.container-fluid>.navbar-header{
		margin-bottom: 15px;
	}	


.navbar-brand h1{
	font-size: 1.7em;
	color: #000;
	margin: 0;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	font-style: oblique;
	vertical-align: middle;


	
}

.navbar-brand a:hover{
	text-decoration: none;
}



/* Home Page - Main Content */
h2{
	font-size: 30px;
	color: #000;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
}

#main-content h3{
	font-size: 1.5em;
	color: #000;
	margin:10px 0 30px ;
	padding-top: 20px;

}
#main-content section.row{
	margin-left: 15px;
	margin-right: 15px;	
}

#main-content #main-text{
	background-color: #A9A9A9;

}

#main-content #main-text .txt{
	color: #000;
	font-size: 1.1em;
	line-height: 2em;
}

#main-content #main-text span{
	font-size: 1.3em;
	color: #000;
	font-weight: bold;

}

#main-text .main-point{
	color: #000;
	font-size: 1.1em;
	line-height: 2.5em;
}

#main-text .main-point-1{
	font-weight: bold;
	font-size:1.1em;

}

/********** Extra-Small devices only (i.e Surface duo - microsoft) **********/
@media(max-width:  767px){

	.container-fluid>.navbar-header{
		margin-bottom: 2px;
	}	
	.navbar-toggle {
		background-color: transparent;
		
	}

	.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
		border: 2px solid #000;
		
	}

	.navbar-nav{
		margin-top: 0;
		margin-bottom: 0;
		border: 1px solid #000 ;

	}

	#nav-list a{
		font-size: 1.3em;
		width: 100%;
		background-color: #fff;
		border: 1px solid #000;
		color: black;

	}

	#nav-list a:hover{
		color: orange;

	}

}
